:root {
  --accent-color: #3cbdd3;
  --primary-color: #fefefc;
  --secondary-color: #5a6275;
  --background-color: #b0c2d021;
  --background-border: #445f7f;
}
.App {
  text-align: center;
}
.App .heading {
  background-image: url("header.jpg");
  background-position: center;
  background-size: cover;
}
.App .title {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 80px;
  padding: 30px 0;
}
@media (max-width: 600px) {
  .App .title {
    font-size: 55px;
  }
}
@media (min-width: 601px) {
  .App .title {
  }
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
