.App {
  text-align: center;
}
.App h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
