.Footer {
  color: var(--primary-color);
  font-family: "Nunito", sans-serif;
  padding: 30px 0;
  text-align: center;
}
.Footer a,
.Footer a:visited {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.Footer a:hover {
  color: #f7630c;
  cursor: pointer;
  text-decoration: underline;
}
