.Meaning .part-of-speech,
.Meaning .definition {
  color: var(--secondary-color);
  font-family: "Nunito", sans-serif;
}
.Meaning .definition {
  font-size: large;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 2px;
  margin-bottom: 2px;
}
.Meaning .example {
  color: var(--secondary-color);
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 1.1;
  margin-bottom: 10px;
}
.Meaning .part-of-speech {
  font-weight: bolder;
}
@media (max-width: 700px) {
  .Meaning .definition {
    font-size: medium;
  }
}
