.Meaning .part-of-speech,
.Meaning .definition {
  color: var(--background-border);
  font-family: "Nunito", sans-serif;
}
.Meaning .example {
  color: var(--background-border);
  font-family: "Nunito", sans-serif;
}
.Meaning .part-of-speech {
  font-weight: bolder;
}
