.Synonyms button {
  background-color: var(--secondary-color);
  border: 1px solid var(--background-border);
  border-radius: 20px;
  color: var(--primary-color);
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  padding: 2px 10px;
  margin-right: 5px;
  margin-bottom: 15px;
}
